@import url("rustmax-themes.css");

:root {
    font: var(--rmx-font-text);
    color: var(--rmx-color-fg);
}

body, h1, h2, h3,
h1.menu-title
{
    font-size: 16pt;
}

#page-wrapper, #sidebar
{
    background-color: unset;
}

:root,
#menu-bar
{
    background-color: var(--rmx-color-bg);
}

.content p {
    line-height: unset;
}

.content,
.content .header:link,
blockquote,
.hljs,
p > code.hljs,
.menu-bar
{
    color: var(--rmx-color-fg);
}

a > code.hljs,
.chapter li a,
.chapter li a:link,
.chapter li a:hover,
.chapter li a:visited,
.content a:link,
.content a:hover,
.content a:visited,
a, a:hover, a:link, a:visited
{
    color: var(--rmx-color-links);
}

blockquote,
p code.hljs,
.nav-chapters,
.nav-chapters:hover,
.nav-chapters:visited,
.mobile-nav-chapters,
.hljs
{
    background-color: inherit;
}

#theme-toggle {
    display: none;
}
