
@import url("rustmax-themes.css");

body,
h1, h2, h3, h4,
a, a.src {
    font-family: "Oswald";
}

body {
    background: linear-gradient(90deg, var(--rmx-color-border1) 0%, var(--rmx-color-border2) 5%, var(--rmx-color-bg) 20%, var(--rmx-color-bg) 80%, var(--rmx-color-border2) 95%, var(--rmx-color-border1) 100%);
}

nav.mobile-topbar,
.sidebar-menu-toggle,
.sidebar-menu-toggle:hover {
}

@media not (max-width: 700px) {
    .sidebar {
        background: unset;
    }
}


:root[data-theme="light"], :root[data-theme="dark"], :root:not([data-theme]) {
	--main-background-color: var(--rmx-color-bg);
	--main-color: var(--rmx-color-fg);

    --sidebar-background-color: var(--rmx-color-bg);
    --sidebar-background-color-hover: var(--rmx-color-bg);

	--type-link-color: var(--rmx-color-links);
	--trait-link-color: var(--rmx-color-links);
	--assoc-item-link-color: var(--rmx-color-links);
	--function-link-color: var(--rmx-color-links);
	--macro-link-color: var(--rmx-color-links);
	--keyword-link-color: var(--rmx-color-links);
	--mod-link-color: var(--rmx-color-links);
	--link-color: var(--rmx-color-links);
	--sidebar-link-color: var(--rmx-color-links);

    --code-block-background-color: color-mix(in srgb, var(--rmx-color-bg), var(--rmx-color-accents) 10%);
	--table-alt-row-background-color: color-mix(in srgb, rgba(0, 0, 0, 0), var(--rmx-color-accents) 5%);
}
