
@import url("rustmax-themes.css");

:root,
body,
h1, h2, h3, h4,
a, a.src {
    font: var(--rmx-font-text);
}

html {
    background-color: var(--rmx-color-bg);
}

.docblock code,
.item-table dd code,
pre {
    background-color: var(--rmx-color-bg-alt);
}

code, pre,
.item-table dt > a {
    font: var(--rmx-font-code);
}

body {
}

nav.mobile-topbar,
.sidebar-menu-toggle,
.sidebar-menu-toggle:hover {
}

@media not (max-width: 700px) {
    .sidebar {
        background: var(--rmx-color-bg);
    }
}

ul {
    margin-top: 0.5em;
}




:root[data-theme="light"], :root[data-theme="dark"], :root:not([data-theme]) {
	--main-background-color: var(--rmx-color-bg);
	--main-color: var(--rmx-color-fg);

    --sidebar-background-color: var(--rmx-color-bg);
    --sidebar-background-color-hover: var(--rmx-color-bg);

	--type-link-color: var(--rmx-color-links);
	--trait-link-color: var(--rmx-color-links);
	--assoc-item-link-color: var(--rmx-color-links);
	--function-link-color: var(--rmx-color-links);
	--macro-link-color: var(--rmx-color-links);
	--keyword-link-color: var(--rmx-color-links);
	--mod-link-color: var(--rmx-color-links);
	--link-color: var(--rmx-color-links);
	--sidebar-link-color: var(--rmx-color-links);

    --code-block-background-color: color-mix(in srgb, var(--rmx-color-bg), var(--rmx-color-accents) 10%);
	--table-alt-row-background-color: color-mix(in srgb, var(--rmx-color-bg-deep), var(--rmx-color-accents) 5%);
}
