:root[data-theme="light"],
:root:not([data-theme]) {
    --rmx-color-fg: #444;      /* black */
    --rmx-color-bg: #f8f8f8;   /* white */
    --rmx-color-fg-deep: black;
    --rmx-color-bg-deep: white;
    --rmx-color-links: #08f;   /* blue */
    --rmx-color-accents: #f30; /* red */

    --rmx-color-border1: #f8d8f8;
    --rmx-color-border2: #f8e8e8;

    --rmx-color-emboss: #ecc;
    --rmx-color-shine: #ffffff;
    --rmx-color-unshine: #faf4fa
}

:root[data-theme="dark"] {
    --rmx-color-fg: #f8f8f8;
    --rmx-color-bg: #111;
    --rmx-color-fg-deep: white;
    --rmx-color-bg-deep: black;
    --rmx-color-links: #2af;
    --rmx-color-accents: #f30;

    --rmx-color-border1: #382828;
    --rmx-color-border2: #281818;

    --rmx-color-emboss: #866;
    --rmx-color-shine: #000;
    --rmx-color-unshine: #1a141a
}

