:root {
    --black: #444;
    --white: #f8f8f8;
    --blue: #08f;
    --red: #f30;

    --b1: #f8d8f8;
    --b2: #f8e8e8;

    --emboss: #ecc;
    --shine: #ffffff;
    --unshine: #faf4fa
}

@media (prefers-color-scheme: dark) {
    :root {
        --black: #f8f8f8;
        --white: #111;
        --blue: #2af;
        --red: #f30;

        --b1: #382828;
        --b2: #281818;

        --emboss: #866;
        --shine: #000;
        --unshine: #1a141a
    }
}

* {
    box-sizing: border-box;
}

:root {
    font-family: "Genos";
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.1em;

    color: var(--black);
    background-color: var(--white);
    background: linear-gradient(90deg, var(--b1) 0%, var(--b2) 5%, var(--white) 20%, var(--white) 80%, var(--b2) 95%, var(--b1) 100%);
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--red);
}

body {
    padding: 2em;
}

main {
    margin: auto;
    max-width: 40em;
}

main, hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

main > * {
    width: 100%;
    padding: 2em;
}

h1 {
    letter-spacing: 0.5em;
    font-family: "Saira Stencil One";
}

h1 > span {
    color: var(--red);
}

header {
    text-align: center;
}

#warning {
    display: none;
    color: white;
    background-color: var(--red);
    text-align: center;
}

#menu {
    background-image: linear-gradient(0deg, var(--shine) 50%, transparent 50%);
    background-size: 1px 2px;
    background-color: var(--unshine);
}

#menu {
    border: 4px solid var(--red);
    border-radius: 4px;
    text-shadow: -0.5px -0.5px 1px var(--emboss);
    box-shadow: 0px 0px 8px var(--emboss);
}

.divider {
    border: 2px solid var(--red);
    border-radius: 4px;
    text-shadow: -0.5px -0.5px 1px var(--emboss);
    box-shadow: 0px 0px 8px var(--emboss);
}

#menu {
    display: flex;
    gap: 2em;
    justify-content: center;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 400;
    align-items: center;
    color: var(--red);
    text-align: center;
}

h1, h2, p {
    text-shadow: -0.5px -0.5px 1px var(--emboss);
}

section.text {
}

.divider {
    padding: 0px;
}

footer {
    text-align: right;
    font-style: italic;
}
