* {
    box-sizing: border-box;
}

:root {
    font-family: "Genos";
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.1em;

    color: var(--rmx-color-fg);
    background-color: var(--rmx-color-bg);
}

html {
    background: linear-gradient(90deg, var(--rmx-color-border1) 0%, var(--rmx-color-border2) 5%, var(--rmx-color-bg) 20%, var(--rmx-color-bg) 80%, var(--rmx-color-border2) 95%, var(--rmx-color-border1) 100%);
}

a {
    color: var(--rmx-color-links);
    text-decoration: none;
}

a:hover {
    color: var(--rmx-color-accents);
}

body {
    padding: 2em;
}

main {
    margin: auto;
    max-width: 40em;
}

main, hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

main > * {
    width: 100%;
    padding: 2em;
}

h1 {
    letter-spacing: 0.5em;
    font-family: "Saira Stencil One";
}

h1 > span {
    color: var(--rmx-color-accents);
}

header {
    text-align: center;
}

#warning {
    display: none;
    color: white;
    background-color: var(--rmx-color-accents);
    text-align: center;
}

#menu {
    background-image: linear-gradient(0deg, var(--rmx-color-shine) 50%, transparent 50%);
    background-size: 1px 2px;
    background-color: var(--rmx-color-unshine);
}

#menu {
    border: 4px solid var(--rmx-color-accents);
    border-radius: 4px;
    text-shadow: -0.5px -0.5px 1px var(--rmx-color-emboss);
    box-shadow: 0px 0px 8px var(--rmx-color-emboss);
}

.divider {
    border: 2px solid var(--rmx-color-accents);
    border-radius: 4px;
    text-shadow: -0.5px -0.5px 1px var(--rmx-color-emboss);
    box-shadow: 0px 0px 8px var(--rmx-color-emboss);
}

#menu {
    display: flex;
    gap: 2em;
    justify-content: center;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 400;
    align-items: center;
    color: var(--rmx-color-accents);
    text-align: center;
}

h1, h2, p {
    text-shadow: -0.5px -0.5px 1px var(--rmx-color-emboss);
}

section.text {
}

.divider {
    padding: 0px;
}

footer {
    text-align: right;
    font-style: italic;
}
