name: CI

on:
  push:
    branches: [master]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown, x86_64-unknown-linux-musl

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Run tests
        run: just test-ci-linux

  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Run tests
        run: just test-ci-win
